<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <link rel="stylesheet" href="{{ asset('dist/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('dist/bootstrap/css/style.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand">Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% block navContent %}
                            <li class="nav-item active">
                                <a href="{{path('admin_homepage')}}" class="nav-link">home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path('pagina_index')}}" class="nav-link">gestore pagine</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path('homepage')}}" class="nav-link">torna al sito</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path('logout')}}" class="nav-link">logout</a>
                            </li>

                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{asset('dist/jquery/jquery.min.js')}}" charset="utf-8"></script>
        <script src="{{asset('dist/bootstrap/js/bootstrap.bundle.min.js')}}" charset="utf-8"></script>
    </body>
</html>
